page-customer-profile {
  .profile-section {
    background: color($colors, mooovme, base) !important;
    .image {
      .user-image {
        border: 1px solid #ffffff !important;
        border-radius: 50% !important;
      }
    }
    .name {
      margin-top: 15px;
      color: #fff;
      font-size: 1.2em;
    }
  }
}
